
@{
    ViewBag.Title = "Chapter Three - HTML5 Game Development";
    ViewBag.Header = "CSS3 Matching Game";
}

@section styles {
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/chapterthree/css")
}

@section scripts {
    @Scripts.Render("~/bundles/chapterthree/js")
}

<section id="game">
    <div id="cards">
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
    </div>
</section>