
@{
    ViewBag.Title = "Chapter 4 - Building the Untangle Game with Canvas and Drawing API";
    ViewBag.Header = "Untangle Puzzle Game";
}

@section styles {
    @Styles.Render("~/bundles/chapterfour/less")
}

@section scripts {
    @Scripts.Render("~/bundles/chapterfour/js")
}

<canvas id="game" width="768" height="400">
    Sorry, your web browser does not support Canvas content.
</canvas>
<p>Puzzle <span id="level">0</span>, Completeness: <span id="progress">0</span>%</p>