@{
    ViewBag.Title = "Chapter 5 - Building a Canvas Game Masterclass";
    ViewBag.Header = "Untangle Puzzle Game";
}

@section styles {
    <link href="//fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet" type="text/css" />
    @Styles.Render("~/bundles/chapterfive/css")
}

@section scripts {
    @Scripts.Render("~/bundles/chapterfive/js")
}

<section id="layers">
    <canvas id="bg" width="768" height="440">
        Sorry, your web browser does not support canvas content.
    </canvas>
    <canvas id="guide" width="768" height="440"></canvas>
    <canvas id="game" width="768" height="440"></canvas>
    <canvas id="ui" width="768" height="440"></canvas>
</section>
<p>Puzzle <span id="level">0</span>, Completeness: <span id="progress">0</span>%</p>