@{
    ViewBag.Title = "Chapter Nine - Building a Physics Car Game with Box2D and Canvas";
    ViewBag.Header = "Building a Physics Car Game with Box2D and Canvas";
}

@section styles {
    @Styles.Render("~/bundles/chapternine/css")
}

@section scripts {
    @Scripts.Render("~/bundles/chapternine/protoclass", "~/bundles/chapternine/box2d", "~/bundles/chapternine/js")
}

<div id="asset">
    <img id="flag" src="~/Content/ChapterNine/img/flag.png"/>
    <img id="bus" src="~/Content/ChapterNine/img/bus.png"/>
    <img id="wheel" src="~/Content/ChapterNine/img/wheel.png" />
</div>

<canvas id="game" width="1300" height="600"></canvas>